name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  login-build:
    runs-on: ubuntu-latest

    steps:
      - name: Move folder
        run: |
          ls -la
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build the Docker image
        run: docker build -t sergiocmdev/basic-python-web:latest .
      - name: Push the Docker image
        run: docker push sergiocmdev/basic-python-web:latest
