name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  login-build:
    runs-on: self-hosted

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Configurar kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: "latest"
      - name: Probar kubeconfig
        run: |
          sudo kubectl --kubeconfig=/home/ec2-user/.kube/config cluster-info
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build the Docker image
        run: docker build -t sergiocmdev/basic-python-web:latest .
      - name: Push the Docker image
        run: docker push sergiocmdev/basic-python-web:latest
      - name: Update deployment image
        run: sudo kubectl --kubeconfig=/home/ec2-user/.kube/config kubectl rollout restart deployment/python-basic-web
